/* Theme
-------------------------------------------------- */
:root {
    --main-bg: #1d1e20;
    --inset-bg: #2e2e33;
    --header-bg: #1d1e20;
    --header-bottom: #FFFFFF;
    --nav-hover: #2e2e33;
    --pri-accent: rgba(255, 255, 255, 0.84);
    --sec-accent: rgba(255, 255, 255, 0.56);
    --ter-accent: rgba(255, 255, 255, 0.16);
    --content: rgba(255, 255, 255, 0.64);

    --border: #5b5d67;

    --header-height: 60px;

    /* --hljs-bg: #1c1d21; */
    /* --gap: 24px; */
    /* --content-gap: 20px; */
    /* --nav-width: 1024px; */
    /* --main-width: 720px; */
    /* --header-height: 60px; */
    /* --footer-height: 60px; */
    /* --radius: 8px; */

    /* --theme: #fff; */
    /* --entry: #fff; */
    /* --primary: rgba(0, 0, 0, 0.88); */
    /* --secondary: rgba(0, 0, 0, 0.56); */
    /* --tertiary: rgba(0, 0, 0, 0.16); */
    /* --content: rgba(0, 0, 0, 0.88); */

    /* --code-bg: #f5f5f5; */
    /* --border: #eee; */
}

html {
    color: var(--pri-accent);
    font-family: 'Roboto', sans-serif, Menlo, Monaco, 'Courier New', Courier, monospace;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, */
    /*     'Open Sans', 'Helvetica Neue', sans-serif; */
}

.header {
    background: var(--header-bg);
    border-bottom: 1px solid var(--border);
    position: fixed;
    left: 0;
    top: 0;
    height: var(--header-height);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 48rem;
  width: 48rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

nav.logo a {
    text-decoration: none;

    border-radius: 8px;
    color: var(--pri-accent);
    font-size:.9rem;
    font-weight:500;
    gap: 0.4rem;
    line-height: 1.1;
    padding: 0.5rem;

    align-items: center;
    display: flex;
    justify-content: center;
}

nav.nav a {
    border-radius: 8px;
    color: var(--pri-accent);
    font-sizae:.9rem;
    font-weight:500;
    gap: 0.4rem;
    line-height: 1.1;
    padding: 0.5rem;

    align-items: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

a:hover {
    background-color: var(--nav-hover);
}

.main {
    margin-top: var(--header-height);
}
